apiVersion: v1
kind: Secret
metadata:
  name: {{ include "sshpiper.fullname" . }}-server-key
  labels:
    {{- include "sshpiper.labels" . | nindent 4 }}
type: Opaque
data:
  {{- if .Values.sshpiper.ssh_host_key_base64 }}
  server_key: {{ .Values.sshpiper.ssh_host_key_base64 | quote }}
  {{- else }}
  server_key: "{{genPrivateKey "ecdsa" | b64enc}}"
  {{- end }}
